# Node modules (installed packages)
node_modules/
certs/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

/cache

# OS files
.DS_Store

# Optional: build or dist folders
dist/
build/

# Optional: IDE/editor folders
.vscode/
.idea/
